{% extends "layout.html" %}
{% block title %}Position{% endblock %}
{% block nav %}
{% include "nav.html" %}
{% endblock %}
{% block head %}
<div class="head">
    <h1>Position</h1>
</div>
{% endblock %}
{% block content %}
{% for position in positions %}
<!-- กำหนด if และ for ให้ถูกต้อง -->
<div class="itemGroup">
    <div class="item">
        <!-- position id และ ชื่อตำแหน่ง -->
        <div>{{ position.id }}. {{ position.name }}</div>

        <!-- จำนวนพนักงานทั้งหมด -->
        <div class="action">{{ position.count }} People</div>
    </div>
</div>
{% endfor %}
{% endblock %}
